  <div class="d-flex flex-column align-items-center gap-4 my-5">
  <% @users.each do |user| %>
    <div class="container d-flex w-75 p-0">
      <a href="<%= user_path(user) %>"><img class="rounded-circle bg-white p-2 border me-4 profile-pic" src="<%= user.photo %>" alt="User Photo"></a>
      <div class="border rounded-5 w-100 bg-white p-4 d-flex flex-column justify-content-between">
        <div class="w-25 m-0">
          <h2><%= link_to user.name, user_path(user), title:"To User Details", class: "text-decoration-none fs-2 text-decoration-underline-hover text-primary" %></h2>
          <p class="user-posts text-end me-5 fs-5">Number of posts: <%= user.posts_counter %></p>
        </div>
        <%= link_to "See details", user_path(user), title:"To User Details", class: "text-decoration-none fs-4 text-decoration-underline-hover text-primary align-self-end" %>
      </div>
    </div>
  <% end %>
  </div>
