    <div class="d-flex flex-column align-items-center gap-4 my-5">
        <div class="container d-flex w-75 p-0">
            <a href="<%= user_path(@user) %>">
                <img class="rounded-circle bg-white p-2 border me-4 profile-pic" src="<%= @user.photo %>" alt="User Photo">
            </a>
            <div class="border rounded-5 w-100 bg-white p-4 d-flex flex-column justify-content-between">
                <div class="w-25 m-0">
                    <h2 class="text-decoration-none fs-2 text-decoration-underline-hover text-primary">
                        <%= link_to @user.name, user_path(@user), class: "text-decoration-none" %>
                    </h2>
                    <p class="user-posts text-end me-5 fs-5">Number of posts: <%= @user.posts_counter %></p>
                </div>
                <%= link_to "Back to Home", root_path, title:"To Home Page", class: "text-decoration-none fs-4 text-decoration-underline-hover text-primary align-self-end" %>
            </div>
        </div>

        <div class="border rounded-5 w-75 bg-white p-4">
            <h2>Bio</h2>
            <p class="fs-3 mb-0"><%= @user.bio %></p>
        </div>

        <h3 class="text-center m-0">Recent Posts</h3>

        <div class="d-flex flex-column align-items-center gap-4 w-75">
            <% recent_posts = @user.recent_posts %>
            <% if recent_posts.any? %>
                <div class="d-flex flex-column align-items-center gap-4 w-100">
                    <% recent_posts.each do |post| %>
                        <div class="border rounded-5 w-100 bg-white p-4">
                            <h3 class="mb-0">
                                <%= link_to post.title + " by " + @user.name, user_post_path(user_id: @user.id, id: post.id), class: "text-decoration-none text-decoration-underline-hover" %>
                            </h3>
                            <span class="text-secondary">
                                Post no. <%= post.id %>
                            </span>
                            <p class="fs-3 my-3"><%= post.text %></p>
                            <div class="text-end">
                                <p class="mb-0 fs-5"><%= post.comments.count %> Comments | <%= post.likes.count %> Likes</p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <p class="custom-border py-2 text-center">No recent posts</p>
            <% end %>
            <div class="d-flex gap-3 align-self-center">
                <%= link_to "Back to home", users_path(@user), class: "btn btn-primary fs-3 px-3 py-2 rounded-pill" %>
                <%= link_to "See all posts", user_posts_path(@user), class: "btn btn-primary fs-3 px-3 py-2 rounded-pill" %>
            </div>
        </div>
    </div>
