<div class="container d-flex flex-column m-auto mt-5">
  <h2 class="text-center mb-5 d-flex align-self-center">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'd-flex flex-column m-auto w-25 gap-3' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control border rounded-5 px-4 fs-3 w-100 lh-1' %>
    </div>

    <div class="actions mb-4">
      <%= f.submit "Send me password reset instructions", class: 'btn btn-primary fs-3 px-4 py-2 rounded-pill w-100' %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
